/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --ms-primary-color:#2c3e50;
    --ms-primary-color-light:#3a546d;
    --ms-secondary-color:#1abc9c;
}

ul{
    list-style-type: none;
}

/*common*/

.stellina{
    width: 400px;
}

.div-vuoto {
    min-width: calc((100% / 2) - 20px);
    height: 10px;
    padding: 5px;
}

.border-white{
    border-bottom: 4px solid white;
}

.border-black{
    border-bottom: 4px solid black;
}

.titolo-e-stellina{
    text-align: center;
}

.fa-star{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-primary{
    background-color: var(--ms-secondary-color);
    color: white;
    border-color: white;
    border-radius: 15%;
}

/*header-nav*/

#header-nav {
    background-color: var(--ms-primary-color);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: white;
}

.navbar-light .navbar-brand{
    color: white;
}

.navbar-light .navbar-nav .nav-link{
    color:white;
}

.nav-link{
    font-size: 15px;
}

/*header-jumbo*/

#jumbotron{
    background-color: var(--ms-secondary-color);
    color: white;
    text-align: center;
}

.jumbo-ul>li{
    max-width: calc(100% / 3);
    font-size: 16px;
}

/*main-portfolio*/


.card{
    border-radius: 30px;
    overflow: hidden;
}

.card>img{
    width: 100%;
    height: auto;
}

/*main-about*/

#about{
    background-color: var(--ms-secondary-color);
    color: white;
    text-align:center;
}

/*Main-Contact */

.form-control{
    border-bottom: 1px solid #ced4da;
    border-top: none;
    border-right: none;
    border-left: none;
}
/*footer-big*/

#footer-big{
    background-color: gray;
    color: white;
}

/*footer-big*/

#footer-small{
    background-color: black;
    color: white;
}