/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header-nav*/

#header-nav{
    background-color: darkblue;
    color: white;
}

.container>nav{
    justify-content: space-between;
}

/*header-jumbo*/

#jumbotron{
    background-color: aquamarine;
    color: white;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*main-portfolio*/

.titolo-e-stellina{
    text-align: center;
}

.col{
    max-width:calc(100% / 3);
    padding: 10px;
    margin: 10px;
}

.brown{
    background-color: brown;
}

.acqua{
    background-color: aqua;
}

.black{
    background-color: black;
}

.aliceblue{
    background-color: aliceblue;
}

.blue{
    background-color: blue;
}

.lightgrey{
    background-color: lightgrey;
}

/*main-about*/

#about{
    background-color: aquamarine;
    color: white;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*footer-big*/

#footer-big{
    background-color: gray;
    color: white;
}

/*footer-big*/

#footer-small{
    background-color: black;
    color: white;
}