/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header-nav*/

#header-nav{
    background-color: darkblue;
    color: white;
}

.container>nav{
    justify-content: space-between;
}

/*header-jumbo*/

#jumbotron{
    background-color: aquamarine;
    color: white;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}